{% extends 'base.html' %}

{% block title %}
Easy-Code
{% endblock %}

{% block body %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
      <h1 class="display-3 fw-bold">Твой путь в IT начинается здесь.</h1>
      <h3 class="fw-normal text-muted mb-3">Успей выбрать курс по самой выгодной цене.</h3>
      <div class="d-flex gap-3 justify-content-center lead fw-normal">
        <a class="icon-link" href="/feedback">
          О нас
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
        <a class="icon-link" href="/prices">
          Купить
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
          <img src="{{ url_for('static', filename='img/idea1.png') }}" alt="idea1">
        <h2 class="fw-normal">Опыт</h2>
        <p>Уже более 100 учеников обучились передовым IT-специальностям в нашей школе.</p>
        <p><a class="btn btn-secondary" href="/prices">Подробнее »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
          <img src="{{ url_for('static', filename='img/teacher.png') }}" alt="teacher">
        <h2 class="fw-normal">Учителя</h2>
        <p>При покупке онлайн-курса, вас будет сопровождать личный куратор высшего уровня.</p>
        <p><a class="btn btn-secondary" href="/prices">Подробнее »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="{{ url_for('static', filename='img/dengi.png') }}" alt="dengi">
          <h2 class="fw-normal">Портфолио и трудоустройство</h2>
        <p>Мы помогаем нашем ученикам составить богатое портфолио и устроить на работу.</p>
        <p><a class="btn btn-secondary" href="/prices">Подробнее »</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->
<div>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">98% наших учеников уже нашли свое метсо в IT. <span class="text-body-secondary">Чем ты хуже...</span></h2>
        <p class="lead"><i>"Спасибо огромное EasyCode за билет в новую жизнь! Сейчас я middle-специалист в Яндексе и занимаюсь своим любимым делом."</i> <br>  -Максим(студент курса Python-разработчик)</p>
      </div>
      <div class="col-md-5">
        <img src="{{ url_for('static', filename='img/bedolaga.png') }}" alt="bedolaga">
    </div>

    <hr class="featurette-divider">


    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Обучиться профессии будущего?. <span class="text-body-secondary">Запросто!</span></h2>
        <p class="lead">Обучаем только самым актуальным профессиям рынка, никакой воды и 75% практики.</p>
      </div>
      <div class="col-md-5">
        <img src="{{ url_for('static', filename='img/bedolaga3.png') }}" alt="bedolaga3">
    </div>

    <hr class="featurette-divider">
    </div>
    <!-- /END THE FEATURETTES -->


<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{ url_for('static', filename='img/bedolaga2.png') }}" alt="bedolaga3">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Заинтересовало?</h1>
        <p class="lead">Тогда скорее переходи и оставляй анкету, в ближайшее время с тобой свяжется наш куратор и зарегестрирует на курс.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" href="/request">Записаться</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4" href="/feedback">Отзывы</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}